:host {
  display: block;
}

.noodles-info {
  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__header {
    height: 50vh;
    img {
      display: inline-block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    text-align: center;
    font-size: 2.4rem;

    li {
      margin: 1rem;
    }
  }

  &__footer {
    text-align: right;
    margin-top: 2rem;
    a {
      font-size: 2rem;
    }
  }
}
